<!doctype html>
{% load staticfiles %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">

    <!-- Site Title -->
    <title>Paasch portfolio</title>

  <!--  <meta name="description" content="Creative Resume Template">
    <meta name="keywords" content="berg, creative, resume, template"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Google Font -->
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>

    <!-- Bootstrap Core CSS -->
    <link href={% static "main_app/plugins/bootstrap/css/bootstrap.min.css" %} rel="stylesheet" type="text/css">

    <!-- Font icons CSS -->
    <link href={% static "main_app/plugins/icons-mind/style.css" %} rel="stylesheet" type="text/css">
    <link href={% static "main_app/plugins/fontawesome/css/font-awesome.min.css" %} rel="stylesheet" type="text/css">

    <!-- Plugins CSS
    <link href={% static "main_app/plugins/jpreloader/css/jpreloader.css" %} rel="stylesheet" type="text/css">-->
    <link href={% static "main_app/plugins/animate-css/animate.min.css" %} rel="stylesheet" type="text/css">
    <link href={% static "main_app/plugins/magnificPopup/magnific-popup.css" %} rel="stylesheet" type="text/css">
    <link href={% static "main_app/plugins/flexSlider/flexslider.css" %} rel="stylesheet" type="text/css">

    <!-- Main CSS -->
    <link href={% static "main_app/css/berg.css" %} rel="stylesheet" type="text/css">

    <!-- Color CSS -->
    <link href={% static "main_app/css/colors/blue.css" %} rel="stylesheet" type="text/css">

    <!-- Modernizr JS for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 8]>
    <script src={% static "main_app/plugins/modernizr.min.js" %}></script>
    <![endif]-->
</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" data-offset="66">
    <!--[if lt IE 10]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->


    <!-- HERO START -->
    <header id="home" class="hero">
        <div class="hero-body">
            <div class="hero-text text-center">
              <!--<h1 style="background-color:#193C51;">-->
                <h1 >
                    Hope E. Paasch <span class="blinker"></span>
                </h1>

                <h2 >web developer</h2>

                <p >Python | Django | RESTful API</p>

                <div class="page-scroll">
                    <a href="#profile" class="btn btn-lg btn-custom">
                        Learn more
                    </a>
                </div>
                <!-- //.page-scroll -->
            </div>
            <!-- //.hero-text -->
        </div>
        <!-- //.hero-body -->
    </header>
    <!-- //HERO END -->


    <!-- NAVIGATION START -->
    <nav id="navigation" class="navbar navbar-fixed-top center-menu" role="navigation">
        <div class="container navbar-container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".berg-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand visible-xs visible-sm" href="#page-top">H.E.PAASCH</a>
            </div>
            <!-- //.navbar-header -->

            <div class="navbar-collapse collapse berg-collapse">
                <ul class="nav navbar-nav">
                    <li class="page-scroll">
                        <a href="#home">Home</a>
                    </li>

                    <li class="page-scroll">
                        <a href="#profile">Profile</a>
                    </li>

                    <li class="page-scroll">
                        <a href="#portfolio">Portfolio</a>
                    </li>

                    <li class="page-scroll">
                        <a href="#skills">Skills</a>
                    </li>

                    <li class="page-scroll">
                        <a href="#resume">Resume</a>
                    </li>

                    <li class="page-scroll">
                        <a href="#references">References</a>
                    </li>

                    <li class="page-scroll">
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- //.navbar-collapse -->
        </div>
        <!-- //.navbar-container -->
    </nav>
    <!-- //NAVIGATION END -->


    <!-- PROFILE SECTION START -->
    <section id="profile" class="section">
        <div class="container section-wrapper">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-7 match-height">

                        <!-- PROFILE TEXT START -->
                        <div class="profile-text padding-right-yes">
                            <div class="row">
                                <div class="col-md-12">
                                    <h2 class="section-title">Coding can change the world.</h2>

                                    <p>
                                        I grew up as a journalist. Now I code. I see web applications as an engaging tool to inform and guide public decisions.
                                    </p>

                                    <span class="divider"></span>

                                    <p class="text-grey">
                                        As a reporter and editor, I learned to use facts to help shape community decisions, including holding people responsible for their actions.
                                    </p>

                                    <p class="text-grey">
                                        With new skills as a backend engineer, I want to continue to work with projects that build on democratic principles. I want to help citizens engage in civic life. I want policymakers to understand community priorities and find solutions. I want to help build a stronger and more secure society.
                                    </p>
                                </div>
                                <!-- //.col-md-12 -->
                            </div>
                            <!-- //.row -->
                        </div>
                        <!-- //PROFILE TEXT END -->

                        <!-- CONTACT DETAILS START -->
                        <div class="contact-details padding-right-yes">
                            <div class="row">
                                <div class="col-sm-6 col-md-5">
                                    <h4>Contact</h4>

                                    <ul class="list-unstyled text-grey">
                                        <li>Hope E. Paasch</li>
                                        <li>outskirts of Charlotte, NC</li>
                                        <li>704.650.2734</li>
                                        <li><a href="mailto:hepaasch@gmail.com">hepaasch@gmail.com</a></li>
                                        <li>www.hepaasch.com</li>
                                    </ul>
                                </div>
                                <!-- //.col-md-5 -->

                                <div class="col-sm-6 col-md-7">
                                    <a href={% static "main_app/images/hep_resume.pdf" %} class="btn btn-lg btn-custom" download='HEPaasch resume'>
                                        <i class="icon-File-Download"></i> Download Resume
                                    </a>
                                </div>
                                <!-- //.col-md-6 -->
                            </div>
                            <!-- //.row -->
                        </div>
                        <!-- //CONTACT DETAILS END -->

                    </div>
                    <!-- //.col-md-7 -->

                    <!-- PROFILE PICTURE START -->
                    <div class="col-md-5 hidden-xs hidden-sm match-height pp-wrapper">
                        <div class="profile-picture style-one">
                            <img src={% static "main_app/images/profile-picture-2.jpg" %} alt="profile picture" class="img-responsive"/>
                        </div>
                    </div>
                    <!-- //PROFILE PICTURE END -->
                </div>
                <!-- //.row -->
            </div>
            <!-- //.section-content -->
        </div>
        <!-- //.container -->
    </section>
    <!-- //PROFILE SECTION END -->


    <!-- PORTFOLIO SECTION START -->
    <section id="portfolio" class="section">
        <div class="container-fluid section-wrapper">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="section-title">Projects to show what I've learned</h2>

                        <p class="section-subtitle">Presidential Dinner Party was my final project for bootcamp</p>

                        <span class="divider center"></span>
                    </div>
                    <!-- //.col-md-12 -->
                </div>
                <!-- //.row -->

                <!-- PORTFOLIO START -->
                <div class="portfolio">
                    <div class="row">
                        <div class="item col-sm-6 col-md-3">
                            <div class="project-wrapper">
                                <div class="project-link">
                                    <a href={% static "main_app/images/portfolio/project-image-1.jpg" %} class="zoom" title="Presidential Dinner Party">
                                        <i class="icon-Full-Screen"></i>
                                    </a>

                                    <a href="http://www.presidentialdinnerparty.com/" target="_blank" class="external-link">
                                        <i class="icon-Link"></i>
                                    </a>
                                </div>
                                <!-- //.project-link -->

                                <div class="project-title">
                                    <h4>Presidential Dinner Party <br>
                                    <a href="https://github.com/hpaasch/prez_party">View code</a></h4>
                                </div>
                                <!-- //.project-title -->

                                <img src={% static "main_app/images/portfolio/project-image-1.jpg" %} alt="" class="img-responsive"/>
                            </div>
                            <!-- //.project-wrapper -->
                        </div>
                        <!-- //.item -->

                        <div class="item col-sm-6 col-md-3">
                            <div class="project-wrapper">
                                <div class="project-link">
                                    <a href={% static "main_app/images/portfolio/project-image-2.jpg" %} class="zoom" title="Track-n-Share">
                                        <i class="icon-Full-Screen"></i>
                                    </a>

                                    <a href="https://track-n-share.herokuapp.com/" target="_blank" class="external-link">
                                        <i class="icon-Link"></i>
                                    </a>
                                </div>
                                <!-- //.project-link -->

                                <div class="project-title">
                                    <h4>Track-n-Share <br>
                                    <a href="https://github.com/hpaasch/url_shortener">View code</a></h4>
                                </div>
                                <!-- //.project-title -->

                                <img src={% static "main_app/images/portfolio/project-image-2.jpg"%} alt="" class="img-responsive"/>
                            </div>
                            <!-- //.project-wrapper -->
                        </div>
                        <!-- //.item -->
                  <!--  </div>
                    <div class="row">
                    -->

                        <div class="item col-sm-6 col-md-3">
                            <div class="project-wrapper">
                                <div class="project-link">
                                    <a href={% static "main_app/images/portfolio/project-image-4.jpg"%} class="zoom" title="rePurpose yardsales">
                                        <i class="icon-Full-Screen"></i>
                                    </a>

                                    <a href="http://repurpose.herokuapp.com/" target="_blank" class="external-link">
                                        <i class="icon-Link"></i>
                                    </a>
                                </div>
                                <!-- //.project-link -->

                                <div class="project-title">
                                    <h4>rePurpose yardsales <br> (Backend only)

                                      <a href="https://github.com/hpaasch/kirby_yard_sale">View code</a></h4>

                                </div>
                                <!-- //.project-title -->

                                <img src={% static "main_app/images/portfolio/project-image-4.jpg" %} alt="" class="img-responsive"/>
                            </div>
                            <!-- //.project-wrapper -->
                        </div>
                        <!-- //.item -->
                        <div class="item col-sm-6 col-md-3">
                            <div class="project-wrapper">
                                <div class="project-link">
                                    <a href={% static "main_app/images/portfolio/project-image-3.jpg" %} class="zoom" title="Lake Norman Swapshop">
                                        <i class="icon-Full-Screen"></i>
                                    </a>

                                    <a href="https://lkn-swapshop.herokuapp.com/" target="_blank" class="external-link">
                                        <i class="icon-Link"></i>
                                    </a>
                                </div>
                                <!-- //.project-link -->

                                <div class="project-title">
                                    <h4>Lake Norman Swapshop <br>
                                    <a href="https://github.com/hpaasch/swapshop">View code</a></h4>
                                </div>
                                <!-- //.project-title -->

                                <img src={% static "main_app/images/portfolio/project-image-3.jpg" %} alt="" class="img-responsive"/>
                            </div>
                            <!-- //.project-wrapper -->
                        </div>
                        <!-- //.item -->




                    </div>
                    <!-- //.row -->
                </div>
                <!-- PORTFOLIO END -->
            </div>
            <!-- //.section-content -->
        </div>
        <!-- //.container-fluid -->
    </section>
    <!-- //PORTFOLIO SECTION END -->



    <!-- SKILLS SECTION START -->
    <section id="skills" class="section">
        <div class="container section-wrapper">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <h2 class="section-title">Coding skills</h2>

                        <p class="section-subtitle">Competencies at a junior web developer level</p>

                        <span class="divider center"></span>
                    </div>
                    <!-- //.col-md-8 -->
                </div>
                <!-- //.row -->

                <!-- CIRCLE CHART START -->
                <div class="circle-chart">
                  <div class="row">
                      <div class="col-sm-4 col-md-2">
                          <div class="item">
                              <div class="circle">
                                  <span class="item-progress" data-percent="65"></span>
                              </div>
                              <!-- //.circle -->

                              <span class="percent">&#10004;</span>

                              <h4 class="text-center">Python</h4>
                          </div>
                          <!-- //.item -->
                      </div>
                      <!-- //.col-md-2 -->

                      <div class="col-sm-4 col-md-2">
                          <div class="item">
                              <div class="circle">
                                <span class="item-progress" data-percent="65"></span>
                              </div>
                              <!-- //.circle -->

                              <span class="percent">&#10004;</span>

                              <h4 class="text-center">Django</h4>
                          </div>
                          <!-- //.item -->
                      </div>
                      <!-- //.col-md-2 -->

                      <div class="col-sm-4 col-md-2">
                          <div class="item">
                              <div class="circle">
                                <span class="item-progress" data-percent="65"></span>
                              </div>
                              <!-- //.circle -->

                              <span class="percent">&#10004;</span>

                              <h4 class="text-center">RESTful API</h4>
                          </div>
                          <!-- //.item -->
                      </div>
                      <!-- //.col-md-2 -->

                      <div class="col-sm-4 col-md-2">
                          <div class="item">
                              <div class="circle">
                                <span class="item-progress" data-percent="65"></span>
                              </div>
                              <!-- //.circle -->

                              <span class="percent">&#10004;</span>

                              <h4 class="text-center">Bootstrap</h4>
                          </div>
                          <!-- //.item -->
                      </div>
                      <!-- //.col-md-2 -->

                      <div class="col-sm-4 col-md-2">
                          <div class="item">
                              <div class="circle">
                                <span class="item-progress" data-percent="65"></span>
                              </div>
                              <!-- //.circle -->

                              <span class="percent">&#10004;</span>

                              <h4 class="text-center">GitHub</h4>
                          </div>
                          <!-- //.item -->
                      </div>
                      <!-- //.col-md-2 -->

                      <div class="col-sm-4 col-md-2">
                          <div class="item last">
                              <div class="circle">
                                <span class="item-progress" data-percent="65"></span>
                              </div>
                              <!-- //.circle -->

                              <span class="percent">&#10004;</span>

                              <h4 class="text-center">HTML/CSS</h4>
                          </div>
                          <!-- //.item -->
                      </div>
                      <!-- //.col-md-2 -->
                  </div>
                  <!-- //.row -->
                  <div class="row">
                        <div class="col-sm-4 col-md-2">
                            <div class="item">
                                <div class="circle">
                                    <span class="item-progress" data-percent="65"></span>
                                </div>
                                <!-- //.circle -->

                                <span class="percent">&#10004;</span>

                                <h4 class="text-center">PyCharm</h4>
                            </div>
                            <!-- //.item -->
                        </div>
                        <!-- //.col-md-2 -->

                        <div class="col-sm-4 col-md-2">
                            <div class="item">
                                <div class="circle">
                                  <span class="item-progress" data-percent="65"></span>
                                </div>
                                <!-- //.circle -->

                                <span class="percent">&#10004;</span>

                                <h4 class="text-center">Heroku</h4>
                            </div>
                            <!-- //.item -->
                        </div>
                        <!-- //.col-md-2 -->

                        <div class="col-sm-4 col-md-2">
                            <div class="item">
                                <div class="circle">
                                  <span class="item-progress" data-percent="65"></span>
                                </div>
                                <!-- //.circle -->

                                <span class="percent">&#10004;</span>

                                <h4 class="text-center">Amazon S3</h4>
                            </div>
                            <!-- //.item -->
                        </div>
                        <!-- //.col-md-2 -->

                        <div class="col-sm-4 col-md-2">
                            <div class="item">
                                <div class="circle">
                                  <span class="item-progress" data-percent="65"></span>
                                </div>
                                <!-- //.circle -->

                                <span class="percent">&#10004;</span>

                                <h4 class="text-center">PostgreSQL</h4>
                            </div>
                            <!-- //.item -->
                        </div>
                        <!-- //.col-md-2 -->

                        <div class="col-sm-4 col-md-2">
                            <div class="item">
                                <div class="circle">
                                  <span class="item-progress" data-percent="65"></span>
                                </div>
                                <!-- //.circle -->

                                <span class="percent">&#10004;</span>

                                <h4 class="text-center">Postman</h4>
                            </div>
                            <!-- //.item -->
                        </div>
                        <!-- //.col-md-2 -->

                        <div class="col-sm-4 col-md-2">
                            <div class="item last">
                                <div class="circle">
                                  <span class="item-progress" data-percent="65"></span>
                                </div>
                                <!-- //.circle -->

                                <span class="percent">&#10004;</span>

                                <h4 class="text-center">SQLite</h4>
                            </div>
                            <!-- //.item -->
                        </div>
                        <!-- //.col-md-2 -->
                    </div>
                    <!-- //.row -->
                </div>
                <!-- //CIRCLE CHART END -->
            </div>
            <!-- //.section-content -->
        </div>
        <!-- //.container -->
    </section>
    <!-- //SKILLS SECTION END -->


    <!-- RESUME SECTION START -->
    <section id="resume" class="section">
        <div class="container section-wrapper">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <h2 class="section-title">My Resume</h2>

                        <p class="section-subtitle">
                            I want to work with data to create web applications that contribute to a stronger society.
                            Speaking engagements: <a href="https://speakerdeck.com/hpaasch/getting-public-data-from-public-officials">PyData Carolinas</a> on Acquiring Public Data (September 2016)
                        </p>

                        <span class="divider center"></span>
                    </div>
                    <!-- //.col-md-8 -->
                </div>
                <!-- //.row -->

                <!-- EDUCATION START -->
                <div class="row education">
                    <div class="col-md-10 col-md-offset-1">
                        <h3>
                            Education

                        </h3>

                        <div class="panel-group resume" id="education">
                            <div class="resume-item">
                                <div class="resume-year">
                                    <span class="resume-year">Iron Yard</span>
                                </div>
                                <!-- //.resume-year -->

                                <div class="resume-btn">
                                    <a href="#education1" data-toggle="collapse" data-parent="#education"></a>
                                </div>
                                <!-- //.resume-btn -->

                                <div class="panel">
                                    <div class="panel-heading">
                                        <div class="panel-title">
                                            <h4 class="resume-title">Backend engineering with Python and Django</h4>
                                        </div>
                                        <!-- //.panel-title -->
                                    </div>
                                    <!-- //.panel-heading -->

                                    <div id="education1" class="panel-collapse collapse in">
                                        <div class="panel-body text-grey">
                                            <p>
                                                Attended May-August 2016 at <a href="https://www.theironyard.com/">The Iron Yard's</a> headquarters campus in Greenville, SC. My instructor was Joel Taddei, a full-stack web developer with a special affinity for data science. Certificate of completion awarded. This three-month immersive coding course focused on Python, Django and RESTful APIs. The pace was fast, and the hours were long. I typically put in 80 hours per week, between lectures, nightly homework and weekend projects. The Yard's approach taught me how to work through a challenge, to find answers and solutions.
                                            </p>
                                        </div>
                                        <!-- //.panel-body -->
                                    </div>
                                    <!-- //.panel-collapse -->
                                </div>
                                <!-- //.panel -->
                            </div>
                            <!-- //.resume-item -->

                            <div class="resume-item">
                                <div class="resume-year">
                                    <span class="resume-year">Texas A&M</span>
                                </div>
                                <!-- //.resume-year -->

                                <div class="resume-btn">
                                    <a href="#education2" class="collapsed" data-toggle="collapse" data-parent="#education"></a>
                                </div>
                                <!-- //.resume-btn -->

                                <div class="panel">
                                    <div class="panel-heading">
                                        <div class="panel-title">
                                            <h4 class="resume-title">Bachelor of Science in Journalism </h4>
                                        </div>
                                        <!-- //.panel-title -->
                                    </div>
                                    <!-- //.panel-heading -->

                                    <div id="education2" class="panel-collapse collapse">
                                        <div class="panel-body text-grey">
                                            <p>
                                                Editor of student newspaper, a daily with more than 20,000 circulation. Served on advisory board to vice president of Student Affairs. Member of student center council, participating in decisions about which outside speakers to hire. Awarded most valuable editor.
                                            </p>
                                        </div>
                                        <!-- //.panel-body -->
                                    </div>
                                    <!-- //.panel-collapse -->
                                </div>
                                <!-- //.panel -->
                            </div>
                            <!-- //.resume-item -->

                        </div>
                        <!-- //.panel-group -->
                    </div>
                    <!-- //.col-md-10 -->
                </div>
                <!-- //EDUCATION END -->

                <!-- WORK EXPERIENCE START -->
                <div class="row work-experience">
                    <div class="col-md-10 col-md-offset-1">
                        <h3>
                            Experience
                        </h3>

                        <div class="panel-group resume" id="work">
                            <div class="resume-item">
                                <div class="resume-year">
                                    <span class="resume-year">Editor</span>
                                </div>
                                <!-- //.resume-year -->

                                <div class="resume-btn">
                                    <a href="#work1" data-toggle="collapse" data-parent="#work"></a>
                                </div>
                                <!-- //.resume-btn -->

                                <div class="panel">
                                    <div class="panel-heading">
                                        <div class="panel-title">
                                            <h4 class="resume-title">The Charlotte Observer</h4>
                                        </div>
                                        <!-- //.panel-title -->
                                    </div>
                                    <!-- //.panel-heading -->

                                    <div id="work1" class="panel-collapse collapse in">
                                        <div class="panel-body text-grey">
                                            <p>
                                                1995-2016
                                                <br>
                                                Metro editor for nearly four years, including during the 2012 Democratic National Convention, the indictment of the city's mayor and the shooting trial of a CMPD police officer. Primary editor and supervisory editor on stories that required acquisition and analysis of public data, from elections to emails to traffic stop patterns by police. Also served as politics editor, regional editor, front-page editor and founder of the centralized publishing center. Directly responsible for hiring, managing and developing dozens of reporters, editors and production staff.
                                            </p>
                                        </div>
                                        <!-- //.panel-body -->
                                    </div>
                                    <!-- //.panel-collapse -->
                                </div>
                                <!-- //.panel -->
                            </div>
                            <!-- //.resume-item -->

                            <div class="resume-item">
                                <div class="resume-year">
                                    <span class="resume-year">Technology</span>
                                </div>
                                <!-- //.resume-year -->

                                <div class="resume-btn">
                                    <a href="#work2" class="collapsed" data-toggle="collapse" data-parent="#work"></a>
                                </div>
                                <!-- //.resume-btn -->

                                <div class="panel">
                                    <div class="panel-heading">
                                        <div class="panel-title">
                                            <h4 class="resume-title">Observer's publishing system</h4>
                                        </div>
                                        <!-- //.panel-title -->
                                    </div>
                                    <!-- //.panel-heading -->

                                    <div id="work2" class="panel-collapse collapse">
                                        <div class="panel-body text-grey">
                                            <p>
                                                1998-2012
                                                <br>
                                                Consultant for more than a decade, in addition to journalist duties. Provided specifications for system capabilities, consulted with developers and application specialists, tested delivered products, documented bugs and brainstormed future functionality. Made presentations to leadership at multiple news organizations about publishing system development and use.
                                            </p>
                                        </div>
                                        <!-- //.panel-body -->
                                    </div>
                                    <!-- //.panel-collapse -->
                                </div>
                                <!-- //.panel -->
                            </div>
                            <!-- //.resume-item -->

                            <div class="resume-item">
                                <div class="resume-year">
                                    <span class="resume-year">Teacher</span>
                                </div>
                                <!-- //.resume-year -->

                                <div class="resume-btn">
                                    <a href="#work3" class="collapsed" data-toggle="collapse" data-parent="#work"></a>
                                </div>
                                <!-- //.resume-btn -->

                                <div class="panel">
                                    <div class="panel-heading">
                                        <div class="panel-title">
                                            <h4 class="resume-title">McClatchy's Southeast news organizations</h4>
                                        </div>
                                        <!-- //.panel-title -->
                                    </div>
                                    <!-- //.panel-heading -->

                                    <div id="work3" class="panel-collapse collapse">
                                        <div class="panel-body text-grey">
                                            <p>
                                                1998-2012
                                                <br>
                                                Trained employees on various technologies, focused on the publishing system for print and online. Wrote training exercises and tipsheets, often on the fly after existing documentation proved too limited. Conducted on-site roll-out training and support in Charlotte, Raleigh, Rock Hill, Columbia and Myrtle Beach, all part of the McClatchy parent company.
                                            </p>
                                        </div>
                                        <!-- //.panel-body -->
                                    </div>
                                    <!-- //.panel-collapse -->
                                </div>
                                <!-- //.panel -->
                            </div>
                            <!-- //.resume-item -->

                            <div class="resume-item">
                                <div class="resume-year">
                                    <span class="resume-year">More</span>
                                </div>
                                <!-- //.resume-year -->

                                <div class="resume-btn">
                                    <a href="#work4" class="collapsed" data-toggle="collapse" data-parent="#work"></a>
                                </div>
                                <!-- //.resume-btn -->

                                <div class="panel">
                                    <div class="panel-heading">
                                        <div class="panel-title">
                                            <h4 class="resume-title">Before the Charlotte Observer</h4>
                                        </div>
                                        <!-- //.panel-title -->
                                    </div>
                                    <!-- //.panel-heading -->

                                    <div id="work4" class="panel-collapse collapse">
                                        <div class="panel-body text-grey">
                                            <p>
                                                I was a news reporter at The Houston Post for five years and at the start-up St. Louis Sun for the only year it was alive. I was then associate editor of the St. Louis Business Journal for three years.
                                            </p>
                                        </div>
                                        <!-- //.panel-body -->
                                    </div>
                                    <!-- //.panel-collapse -->
                                </div>
                                <!-- //.panel -->
                            </div>
                            <!-- //.resume-item -->
                        </div>
                        <!-- //.panel-group -->
                    </div>
                    <!-- //.col-md-10 -->
                </div>
                <!-- //WORK EXPERIENCE END -->
            </div>
            <!-- //.section-content -->
        </div>
        <!-- //.container -->
    </section>
    <!-- //RESUME SECTION END -->


    <!-- REFERENCES SECTION START -->
    <!-- REFERENCES SECTION START -->
    <!-- REFERENCES SECTION START -->
    <!-- REFERENCES SECTION START -->
    <!-- REFERENCES SECTION START -->
    <!-- REFERENCES SECTION START -->
    <!-- REFERENCES SECTION START -->
    <!-- REFERENCES SECTION START -->
    <section id="references" class="section bg-image-yes">
        <div class="container-fluid section-wrapper">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="section-title">References</h2>

                        <p class="section-subtitle">From people who know how I think and how I work.</p>

                        <span class="divider center"></span>
                    </div>
                    <!-- //.col-md-12 -->
                </div>
                <!-- //.row -->

                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="flexslider references">
                            <div class="slides">
                                <div class="item">
                                    <div class="animated" data-animation-effect="flipInX">
                                        <div class="profile hidden-xs">
                                            <img src={% static "main_app/images/references/profile-image-1.jpg" %} alt="" class="img-responsive img-circle img-thumbnail"/>
                                        </div>

                                        <div class="content">
                                            <h3>Newsrooms</h3>

                                            <p>
                                                "Hope can teach and coach and code and convey a message clearly and accurately.
                                                She is an intuitive problem solver. She always advocated for an improved
                                                user experience for our employees because she understood how our CMS worked.
                                                And here is the bonus part: She is a leader who conveys passion and fairness."
                                            </p>

                                            <p class="source">
                                                Cheryl Carpenter
                                                <br>
                                                <span>McClatchy Washington bureau chief</span>
                                            </p>
                                        </div>
                                        <!-- //.content -->
                                    </div>
                                    <!-- //.animated -->
                                </div>
                                <!-- //.item -->


                                <div class="item">
                                    <div class="animated" data-animation-effect="flipInX">
                                        <div class="profile hidden-xs">
                                            <img src={% static "main_app/images/references/profile-image-3.jpg" %} alt="" class="img-responsive img-circle img-thumbnail"/>
                                        </div>

                                        <div class="content">
                                            <h3>Digital</h3>

                                            <p>
                                                "I've worked with Hope for almost 18 years and I've watched her cut through programming jargon to help us 'end-users' understand what to do and how to learn our new systems/updates as efficiently as possible. She has an innate ability to see the end result and then figure out the best route to get to that end."
                                            </p>

                                            <p class="source">
                                                Mordecia Strickland
                                                <br>
                                                <span>Charlotte Observer senior editor for online</span>
                                            </p>
                                        </div>
                                        <!-- //.content -->
                                    </div>
                                    <!-- //.animated -->
                                </div>
                                <!-- //.item -->

                                <div class="item">
                                    <div class="animated" data-animation-effect="flipInX">
                                        <div class="profile hidden-xs">
                                            <img src={% static "main_app/images/references/profile-image-2.jpg" %} alt="" class="img-responsive img-circle img-thumbnail"/>
                                        </div>

                                        <div class="content">
                                            <h3>Systems</h3>

                                            <p>
                                                "I've worked closely with Hope for many years on news technology efforts. She's a truly rare individual who can discern essential core functionality in technical projects, analyze with exceptional clarity and insight and communicate across the board to any audience, from technical specifications, workflow and training to strategic value for the business."
                                            </p>

                                            <p class="source">
                                                Neil Mara
                                                <br>
                                                <span>Director of Publishing Applications, McClatchy Technology</span>
                                            </p>
                                        </div>
                                        <!-- //.content -->
                                    </div>
                                    <!-- //.animated -->
                                </div>
                                <!-- //.item -->

                            </div>
                            <!-- //.slides -->

                            <div class="flexslider-controls">
                                <ul class="flex-control-nav">
                                    <li>
                                        <img src={% static "main_app/images/references/profile-image-1.jpg" %} alt="" class="img-responsive"/>
                                    </li>

                                    <li>
                                        <img src={% static "main_app/images/references/profile-image-3.jpg" %} alt="" class="img-responsive"/>
                                    </li>

                                    <li>
                                        <img src={% static "main_app/images/references/profile-image-2.jpg" %} alt="" class="img-responsive"/>
                                    </li>

                                </ul>
                            </div>
                            <!-- //.flexslider-controls -->

                            <ul class="flex-direction-nav-custom list-inline hidden-xs">
                                <li>
                                    <a class="flex-prev" href="#">
                                        <i class="icon-Left-3"></i>
                                    </a>
                                </li>

                                <li>
                                    <a class="flex-next" href="#">
                                        <i class="icon-Right-3"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- //.flexslider -->
                    </div>
                    <!-- //.col-md-8 -->
                </div>
                <!-- //.row -->
            </div>
            <!-- //.section-content -->
        </div>
        <!-- //.container -->
    </section>



    <!-- //REFERENCES SECTION END -->
    <!-- //REFERENCES SECTION END -->
    <!-- //REFERENCES SECTION END -->
    <!-- //REFERENCES SECTION END -->
    <!-- //REFERENCES SECTION END -->
    <!-- //REFERENCES SECTION END -->
    <!-- //REFERENCES SECTION END -->
    <!-- //REFERENCES SECTION END -->
    <!-- //REFERENCES SECTION END -->


    <!-- CONTACT SECTION START -->
    <section id="contact" class="section">
        <div class="container section-wrapper">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="section-title">Thanks for your time</h2>

                        <p class="section-subtitle">
                            Drop me a note. Let's talk.
                        </p>

                        <span class="divider center"></span>
                    </div>
                    <!-- //.col-md-12 -->
                </div>
                <!-- //.row -->

                <div class="row">
                    <div class="col-md-12">

                        <!-- CONTACT DETAILS START -->
                        <div class="contact-details text-center">
                            <!--<div class="speech-bubble">
                                <i class="icon-Speach-Bubble11"></i>

                                <h4 class="text-grey">
                                    Hope<br>is good
                                </h4>
                            </div> -->
                            <!-- //.speech-bubble -->

                            <h2>Hope E. <strong>Paasch</strong></h2>

                            <h4 class="text-grey"><a href="mailto:hepaasch@gmail.com">hepaasch@gmail.com</a></h4>

                            <span class="divider center"></span>
                        </div>
                        <!-- //CONTACT DETAILS END -->
                    </div>
                    <!-- //.col-md-12 -->
                </div>
                <!-- //.row -->
            </div>
            <!-- //.section-content -->
        </div>
        <!-- //.container -->
    </section>
    <!-- //CONTACT SECTION END -->


    <!-- FOOTER START -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-scroll">
                        <a href="#page-top"><i class="icon-Arrow-Up"></i></a>
                    </div>
                    <!-- //.page-scroll -->

                    <ul class="list-inline social-icons">
                        <li>
                            <div class="item">
                                <a href="https://www.facebook.com/hope.paasch" target="_blank"><i class="fa fa-facebook"></i></a>
                            </div>
                            <!-- //.item -->
                        </li>

                        <li>
                            <div class="item">
                                <a href="https://twitter.com/hpaasch" target="_blank"><i class="fa fa-twitter"></i></a>
                            </div>
                            <!-- //.item -->
                        </li>

                        <li>
                            <div class="item">
                                <a href="https://www.linkedin.com/in/hope-paasch-b548b65?trk=nav_responsive_tab_profile" target="_blank"><i class="fa fa-linkedin"></i></a>
                            </div>
                            <!-- //.item -->
                        </li>

                        <li>
                            <div class="item">
                                <a href="https://github.com/hpaasch" target="_blank"><i class="fa fa-github"></i></a>
                            </div>
                            <!-- //.item -->
                        </li>

                    </ul>
                </div>
                <!-- //.col-md-12 -->
            </div>
            <!-- //.row -->

            <div class="row">
                <div class="col-md-12">
                    <div class="copyright text-center">
                      <p class="text-grey">Content &copy 2016 Hope E. Paasch</p>
                        <p class="text-grey">Design modified from a 2015 Nick Berg template</p>
                    </div>
                    <!-- //.copyright -->
                </div>
                <!-- //.col-md-12 -->
            </div>
            <!-- //.row -->
        </div>
        <!-- //.container -->
    </footer>
    <!-- //FOOTER END -->


    <!-- Plugins JS -->
    <script src={% static "main_app/plugins/jquery.min.js" %}></script>
    <script src={% static "main_app/plugins/bootstrap/js/bootstrap.min.js" %}></script>
    <script src={% static "main_app/plugins/jpreloader/js/jpreloader.min.js" %}></script>
    <script src={% static "main_app/plugins/detectmobilebrowser/detectmobilebrowser.js" %}></script>
    <script src={% static "main_app/plugins/debouncer/debouncer.js" %}></script>
    <script src={% static "main_app/plugins/easing/jquery.easing.min.js" %}></script>
    <script src={% static "main_app/plugins/sticky/jquery.sticky.js" %}></script>
    <script src={% static "main_app/plugins/inview/jquery.inview.min.js" %}></script>
    <script src={% static "main_app/plugins/matchHeight/jquery.matchHeight-min.js" %}></script>
    <script src={% static "main_app/plugins/magnificPopup/jquery.magnific-popup.min.js" %}></script>
    <script src={% static "main_app/plugins/flexSlider/jquery.flexslider-min.js" %}></script>
    <script src={% static "main_app/plugins/countTo/jquery.countTo.js" %}></script>

    <!-- Main JS -->
    <script src={% static "main_app/js/main.js" %}></script>

</body>

</html>
